include ../head.pug
body
  .container.mt-5
    h1 Farmers List
    table.table.table-striped.table-bordered
      thead
        tr
          th(scope="col") ID
          th(scope="col") Farmer Name
          th(scope="col") Location
          th(scope="col") Products
          th(scope="col") Contact
          th(scope="col") Actions
      tbody
        each farmer in farmers
          tr
            td #{farmer.id}
            td #{farmer.name}
            td #{farmer.location}
            td #{farmer.products.join(', ')}
            td #{farmer.contact}
            td
              button.btn.btn-primary.btn-sm Edit
              button.btn.btn-danger.btn-sm Delete
